$font-family-base: 'Rubik';

@mixin getShape ($urlShape) {
    background: url($urlShape);
    background-size: 100% 100%;
}

#joke > div{
    height: 90vh;
}

#score i{
    color: hsl(45, 100%, 51%);
    font-size: 2.5rem; 
    &:hover{
        color: hsl(0,  0%,  0%) 
    }
}

.shape1 {
    @include getShape('../img/blob1.svg');
}

.shape2 {
    @include getShape('../img/blob2.svg');
}

.shape3 {
    @include getShape('../img/blob3.svg');
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../node_modules/bootstrap/scss/bootstrap.scss';
